ul{
	list-style: none;
}

ul li{
	padding-left: 1em;
	line-height: 50px;
	transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	width: 300px;
	border: 1px solid;
	border-radius: 10px;
	margin-bottom: 3px;
}

ul li:hover{
	cursor: pointer;
	transform: translateX(10px);
	-moz-transform: translateX(10px);
	-webkit-transform: translateX(10px);

}